#title{
    color: blueviolet;
}
.data{
    color:orange;
}
.form{
    color: brown;
    font-size: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: lightgray;
    border: 3px groove lightslategrey;
    border-color: aqua;
    padding: 10px;
    margin-top: 20px;
    padding: 20px 10px 15px 30px;
    margin: 20px 10px 5px 30px;
    /* Top right bottom left */
    margin: 30px 10px;
    /* TopBottom LeftRight */
}
/* Universal Selector */
/* *{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
} */
.container{
    background-color: lightblue;
}
.table{
    background-color: cadetblue;
}
.header{
    background-image: url(https://img.freepik.com/free-vector/hand-painted-watercolor-pastel-sky-background_23-2148902771.jpg?size=626&ext=jpg);
}
